.auth-title {
	color: #474747;
	padding-bottom: 60px;	
}

.auth-title h4 {
    font-weight: 100;
}

#auth-errormessage {
	width: 340px;
	text-align: center;
	margin: 0 auto;
}

#auth-form-group {
	width: 340px;
	text-align: center;
	margin: 0 auto;
}

.input-lg {
    height: 45px;
}
