#landing-page-lead {
	color: #5AD7F7;
}

#auth-title {
	color: #eee;
	padding-bottom: 60px;	
}

#auth-errormessage {
	width: 340px;
	text-align: center;
	margin: 0 auto;
}

#auth-form-group {
	width: 340px;
	text-align: center;
	margin: 0 auto;
}

.input-lg {
    height: 45px;
}
