@media (max-width: 450px) {
    .btn span {
        display: none;
    }
}

.fallback {
	color: #eee;
}

.fallback input {
	margin: 10px;
}

/* Mimic table appearance */
div.table {
    display: table;
}
div.table .file-row {
    display: table-row;
}

div.table .file-row > div {
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    padding: 8px;
}
div.table .file-row:nth-child(odd) {
    background: #f9f9f9;
}

.file-status-cell {
    width: 1%;
}

.file-status-icon {
    font-size: 24px;
}

.file-status-ok {
    color: #07C0B9;
}

.file-status-ko {
    color: #a94442;
}

.hidden {
    display: none;
}

.file-row p {
    margin: 0;
}

.file-row .progress {
    margin: 0;
}

.file-size {
    white-space: nowrap;
}

.file-progress {
    width: 10%;
}

.file-controls {
    width: 10%;
}

/* The total progress gets shown by event listeners */
#total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
    /*opacity: 0;*/
    transition: opacity 0.3s linear;
}

/* File Upload Error text color */
.dz-error p.name {
    color: #a94442;
    text-decoration: line-through;
}

/* Hide the delete button initially */
#previews .file-row .delete {
    display: none;
}

/* Hide the start and cancel buttons and show the delete button */
#previews .file-row.dz-success .cancel {
    display: none;
}

#previews .file-row.dz-success .delete,
#previews .file-row.dz-error .delete {
    display: block;
}

.drop-icon {
    font-size:64px;
}