#fallback-errormessage {
	width: 340px;
	text-align: center;
	margin: 0 auto;
}

#dropzone, #actions, #previews {
    display: none;
}

.fallback input {
    margin: 0px;
    margin-top: 10px;
}

.fallback-file-input {
    color: black;
}
